{% extends 'primo_progetto\base.html' %}

    {%block title%} {{block.super}} | Index {%endblock title%}

    
        {%block content%}    
        <ol>                   
            <li><a href="{% url 'prima_app:index_root'%}">Index root</a></li>
            <li><a href="{% url 'prima_app:homepage'%}">Home page benvenuto</a></li>
            <li><a href="{% url 'prima_app:welcome'%}">Welcome</a></li>
            <li><a href="{% url 'prima_app:lista'%}">Lista</a></li>
            <li><a href="{% url 'prima_app:chi_siamo'%}">Chi siamo</a></li>
            <li><a href="{% url 'prima_app:variabili'%}">Variabili</a></li>
        </ol>
        {%endblock content%}
      


    
