{% extends 'primo_progetto\base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index seconda app</title>
</head>
<body>
                          
        {%block content%}    
        <ol> 
            <li><a href="{% url 'seconda_app:es_if'%}">If-else</a></li>
            <li><a href="{% url 'seconda_app:if_else_elif'%}">If-else-elif</a></li>
            <li><a href="{% url 'seconda_app:es_for'%}">Ciclo for</a></li>
        </ol>
        {%endblock content%}


    
</body>
</html>