{% extends "primo_progetto/base.html" %}

{%block title%} {{block.super}} | View B {%endblock title%}

       
        {%block content%}    
            <h1>Voti Studenti</h1>
            {% for studente, materie in voti.items %}
            <h2>{{ studente }}</h2>
            <ul>
                {% for materia, voto, assenze in materie %}
                <li>{{ materia }}, {{ voto }}, {{ assenze }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        {%endblock content%}
