{% extends "primo_progetto/base.html" %}

{%block title%} {{block.super}} | View D {%endblock title%}

       
        {%block content%}    
            <h1>View D</h1>
       
                <br>
                <p>Evento con più partecipanti:</p>
                <p>Titolo: {{eventoMax.titolo}}</p>
                <p>Partecipanti: {{eventoMax.partecipanti}}</p>
                <br>
                <br>
                <p>Evento con meno partecipanti:</p>
                <p>Titolo: {{eventoMin.titolo}}</p>
                <p>Partecipanti: {{eventoMin.partecipanti}}</p>
                  
               
    
        {%endblock content%}
