{% extends 'primo_progetto/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Eventi Culturali </title>
</head>
<body>
                          
        {%block content%}    

        <h1>Benvenuto nella piattaforma di Eventi Culturali</h1>
        <ul>
        <li><a href="{% url 'eventi_culturali:vieweventi_culturali_a' %}">Lista degli Eventi</a></li>
        <li><a href="{% url 'eventi_culturali:vieweventi_culturali_b' %}">Dettagli degli Eventi</a></li>
        <li><a href="{% url 'eventi_culturali:vieweventi_culturali_c' %}">Eventi che iniziano dopo il 01/06/2025</a></li>
        <li><a href="{% url 'eventi_culturali:vieweventi_culturali_d' %}">Eventi con meno di 80 posti disponibili</a></li>
        <li><a href="{% url 'eventi_culturali:vieweventi_culturali_e' %}">Eventi che terminano entro il 31/05/2025</a></li>
        <li><a href="{% url 'eventi_culturali:vieweventi_culturali_f' %}">Statistiche Eventi</a></li>
        </ul>
        
        {%endblock content%}


    
</body>
</html>