{% extends "primo_progetto/base.html" %}

{%block title%} {{block.super}} | View E {%endblock title%}

       
        {%block content%}    
            <h1>View E</h1>
            <ul>
                {% for eventoCulturale in eventiCulturali %}
                 <p> Titolo: {{ eventoCulturale.titolo }}
                    <br>
                    Descrizione: {{eventoCulturale.descrizione}}
                    <br>
                    Data inizio: {{eventoCulturale.data_inizio}}
                    <br>
                    Data fine: {{eventoCulturale.data_fine}}
                    <br>
                    Posti disponibili: {{eventoCulturale.posti_disponibili}}
                    <br>
                   </p>
                   --------------------------------------------
                {% endfor %}
            </ul>
        {%endblock content%}
