{% extends 'primo_progetto/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index news app</title>
</head>
<body>
                          
        {%block content%}    
        <ol> 
            <li><a href="{% url 'news:home'%}">Homepage</a></li>
            <li><a href="{% url 'news:query_base'%}">Query Base</a></li>
            <li><a href="{% url 'news:listaArticoli'%}">Lista Articolo</a></li>
        </ol>
        {%endblock content%}


    
</body>
</html>