{% extends "primo_progetto/base.html" %}

{%block title%} {{block.super}} | Lista Articoli {%endblock title%}


{%block content%}
{%if tutto %}
    <h4>Tutti gli Articoli</h4>
{%else%}
<h4>Articoli di un giornalista: </h4>
{%endif%}
{% if articoli %}
{% for articolo in articoli%}
            <p><strong>Titolo: </strong>
                <a href ="/news/articoli/{{articolo.id}}"> {{articolo.titolo}}</a>
            </p>

            <p><strong>Contenuto: </strong> {{articolo.contenuto}}</p>

            <p><strong>Autore: </strong> 
                <a href ={% url 'news:giornalista_detail' articolo.giornalista.id %}> {{articolo.giornalista}}</a>
            </p>
            <hr>
       
    {% endfor %}
    
{%else%}
<p><strong>Giornalista non esiste. </strong>
{%endif%}
    

{%endblock content%}