{% extends "primo_progetto/base.html" %}

{%block title%} {{block.super}} | Query Base {%endblock title%}


{%block content%}
    <p>Tutti gli articoli scritti da giornalisti di un certo cognome: {{articoli_cognome}} </p>
    <hr>
    <p>Totale {{numero_totale_articoli}} </p>
    <hr>
    <p>Contare il numero di articoli scritti da un giornalista specifico: {{numero_articoli_giornalista_1}} </p>
    <hr>
    <p>Ordinare gli articoli per numero di visualizzazioni in ordine decrescente: {{articoli_ordinati}} </p>
    <hr>
    <p>Tutti gli articoli che non hanno visualizzazioni: {{articoli_senza_visualizzazioni}}</p>
    <hr>
    <p>Articolo piu visualizzato: {{articolo_piu_visualizzazto}} </p>
    <hr>
    <p>Tutti i giornalisti nati dopo una certa data: {{giornalisti_data}}</p>
    <hr>
    <p>Tutti gli articoli pubblicati in una data specifica: {{articoli_del_giorno}} </p>
    <hr>
    <p>Tutti gli articoli pubblicati in un intervalo di date: {{articoli_periodo}} </p>
    <hr>
    <p>Gli articoli scritti da giornalisti nati prima del 1980: {{articoli_giornalisti}}</p>
    <hr>
    <p>Il giornalista piu giovane: {{giornalista_giovane}} </p>
    <hr>
    <p>Il giornalista piu anziano: {{giornalista_anziano}} </p>
    <hr>
    <p>Gli ultimi 5 articoli pubblicati: {{ultimi}} </p>
    <hr>
    <p>Tutti gli articoli con un certo numero minimo di visualizzazioni: {{articoli_minime_visualizzazioni}} </p>
    <hr>
    <p>Tutti gli articoli che contengono una certa parola nel titolo: {{articoli_parola}} </p>
   
    {%endblock content%}