{% extends "primo_progetto/base.html" %}

{%block title%} {{block.super}} | Query Base {%endblock title%}


{%block content%}
    <p>1 Tutti gli articoli scritti da giornalisti di un certo cognome: {{articoli_cognome}} </p>
    <hr>
    <p>2 Totale {{numero_totale_articoli}} </p>
    <hr>
    <p>3 Contare il numero di articoli scritti da un giornalista specifico: {{numero_articoli_giornalista_1}} </p>
    <hr>
    <p>4 Ordinare gli articoli per numero di visualizzazioni in ordine decrescente: {{articoli_ordinati}} </p>
    <hr>
    <p>5 Tutti gli articoli che non hanno visualizzazioni: {{articoli_senza_visualizzazioni}}</p>
    <hr>
    <p>6 Articolo piu visualizzato: {{articolo_piu_visualizzazto}} </p>
    <hr>
    <p>7 Tutti i giornalisti nati dopo una certa data: {{giornalisti_data}}</p>
    <hr>
    <p>8Tutti gli articoli pubblicati in una data specifica: {{articoli_del_giorno}} </p>
    <hr>
    <p>9 Tutti gli articoli pubblicati in un intervalo di date: {{articoli_periodo}} </p>
    <hr>
    <p>10 Gli articoli scritti da giornalisti nati prima del 1980: {{articoli_giornalisti}}</p>
    <hr>
    <p>11 Il giornalista piu giovane: {{giornalista_giovane}} </p>
    <hr>
    <p>12 Il giornalista piu anziano: {{giornalista_anziano}} </p>
    <hr>
    <p>13 Gli ultimi 5 articoli pubblicati: {{ultimi}} </p>
    <hr>
    <p>14 Tutti gli articoli con un certo numero minimo di visualizzazioni: {{articoli_minime_visualizzazioni}} </p>
    <hr>
    <p>15 Tutti gli articoli che contengono una certa parola nel titolo: {{articoli_parola}} </p>
    <hr>
    <p>16 Articoli pubblicati in un certo mese di un anno specifico: {{articoli_mese_anno}} </p>
    <hr>
    <p>17 Giornalisti con almeno un articolo con piu di 100 visualizzazioni {{giornalisti_con_articoli_popolari}}</p>
    <hr>
    <p>18 scrivi quali articoli vengono selezionati con AND {{articoli_con_and}}</p>
    <hr>
    <p>19 scrivi quali articoli vengono selezionati con OR {{articoli_con_or}}</p>
    <hr>
    <p>20 scrivi quali articoli vengono selezionati con NOT {{articoli_con_not}}</p>
    <hr>
    <p>21 scrivi quali articoli vengono selezionati con Exclude {{articoli_con_not_exclude}}</p>
    <hr>
    
    {%endblock content%}


